


a {
    cursor: pointer;
}
div {
	float: left;
}

a {
    font-weight: bold;
    font-size: 15px;
	transition: all 500ms;
	color: grey
}



header {
	background: #0072bc;
}
header ul {
	border-radius: 4px;
	overflow: hidden;
}
header li {
	float: left;
	width: 20%;
}
header li:hover a::before {
	right: 0;
	left: 0;
}
header a {
	color: white;
	font-size: 20px;
	text-decoration: none;
	text-align: center;
	padding: 20px 0;
	display: block;
	position: relative;
	transition: all 0.3s ease;
}
header a:hover {
	color: #af0f0f;
}


header a:hover::before {
	right: 0;
	left: 0;
}
   
li {
	list-style: none;
}

img { 
	max-width: 300px;
	max-height: 300px;
	margin: 20px;
}

p {
	margin-right: 70px;
}

.author { 
	margin: 20px;
}



footer {
	background: #0072bc;
}

footer ul {
	border-radius: 4px;
	overflow: hidden;
	width: 70%;
	margin: auto;
	text-align: center;
}

footer li {
	width: 20%;
	list-style: none;
	margin: auto;
	display: inline-block;
}

footer li:hover a::before {
	right: 0;
	left: 0;
}
footer a {
	color: white;
	font-size: 20px;
	text-decoration: none;
	text-align: center;
	padding: 20px 0;
	display: block;
	position: relative;
	transition: all 0.3s ease;
}

footer a:hover {
	color: #af0f0f;
}

footer a::before {
	content: "";
	transition: all 0.4s ease-in-out;
	position: absolute;
	right: 50%;
	left: 50%;
	bottom: 0;
	height: 2px;
	background-color: #e74c3c;
}

footer a:hover::before {
	right: 0;
	left: 0;
}

.resultList {
	clear:both;
	display: block;
	
}

